
html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #2193b0, #6dd5ed); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calculator {
    background: rgb(245, 240, 240);
    border-radius: 7px;
    padding: 10px;
    width: 350px;
    box-shadow: 0 5px 30px -5px rgba(0,0,0, 0.6); 
  }
  
  .calculator-display{
    background: #222;
    color: #fff;
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 7px;
  }
  .calculator-display h1{
    margin: 0;
    padding: 15px;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    overflow-x: auto;
    /* width: 100%; */
  }
  
  .calculator-display h1::-webkit-scrollbar {
    width: 0.1em;
    height: 15px;
  }
  .calculator-display h1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(214, 210, 210, 0.3);
  }
  .calculator-display h1::-webkit-scrollbar-thumb {
    background-color: rgb(5, 201, 207);
    outline: 1px solid rgb(186, 211, 236);
    border-radius: 20px;
    outline: none;
  }
  
  .calculator-buttons{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button{
    min-height: 45px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 100;
  }
  
  button:hover {
    filter: brightness(110%);
  }
  
  button:active {
    transform: translateY(1px);
  }
  
  button:focus {
    outline: none;
  }
  
  .operator {
    background: #999;
    color: rgb(230, 227, 227);
    font-size: 48px;
  }
  
  .equal-sign{
    grid-row: 2 / 6;
    grid-column:  4;
    height: 100%;
    background: rgb(170, 228, 56);
  }
  
  .clear{
    background: tomato;
    color: #fff;
  }
  
  .clear:hover{
    filter: brightness(90%);
  }
  
  /* Media Query: Large Smartphone (Vertical) */
  @media screen and (max-width: 600px) {
    .calculator {
      width: 90%;
    }
  }